@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Dark-cyan: #19a2ae;
    --Very-dark-desaturated-blue: #2d3248;
    --Dark-grayish-blue: #6a6f81;

    /* ### Neutral */

    --Dark-gray: #969696;
    /* fonts  */
    --font-Kumbh: 'Kumbh Sans', sans-serif;
    color: #241d4b;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, #302f2f, rgb(15, 15, 15));
    position: relative;
    width: 100%;
    overflow: hidden;
}

.card--component {
    background: radial-gradient(circle, #080518, #191827);
    min-width: 300px;
    width: 50vw;
    max-width: 360px;
    height: auto;
    border-radius: 5px;
    color: #fff;
    font-family: var(--font-Kumbh);
    z-index: 4545;
    transform: scale(1.1);
}

.card--component>.svg--background {
    background-image: url(./images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 130px;
    border-radius: 5px;
}

.svg--top {
    position: absolute;
    min-width: 300px;
    height: 90%;
    max-height: 900px;
    min-width: 300px;
    width: 100%;
    max-width: 1000px;
    background-image: url('./images/bg-pattern-top.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    top: -250px;
    left: -250px;
    z-index: 1;
}

.svg--bottom {
    position: absolute;
    min-width: 300px;
    height: 90%;
    max-height: 900px;
    min-width: 300px;
    width: 100%;
    max-width: 1000px;
    background-image: url('./images/bg-pattern-bottom.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;
    bottom: -250px;
    right: -250px;
    z-index: 1;
}

.profile--img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: linear-gradient(to top, #8a21df, #f10b63);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto 2px;
    transform: translateY(-35px);
    transition: background .3s linear;
}


.profile--img>img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

.text--wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .2rem;
}

.text--wrapper>h1 {
    font-size: 1.2rem;
    font-family: var(--font-Kumbh);
    color: #f7f7f7;
    font-weight: 400;
}

.heading span {
    color: orange;
}

.country {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    background: linear-gradient(to bottom,
            #ee600e 30%,
            #ffffff 40%,
            #56f363);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.stats--wrapper {
    margin: 10px auto 5px;
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
}

.stats {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .1rem;
}

.stats>h2 {
    font-size: 1.8rem;
}

.stats>p {
    font-size: .6rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}